.containerBoard {
    align-self: center;
    align-items: center;
    align-content: center;

    position: absolute;
}

.containerBoard div {
    background: white;
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-wrap: wrap;
}

#placeShip {
    background: rgba(0, 83, 119, 0.9);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    display: inline-block;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    color: white;
    width: 12vw;
    height: 6vh;

    margin-top: 1vh;
}

#ready {
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    display: inline-block;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    color: rgba(0, 83, 119, 0.9);
    width: 12vw;
    height: 6vh;

    margin-top: 1vh;
}
