.roundContainer {
    color: white;
    border-radius: 20px;
    width: 60vmin;
    height: 15vh;

    align-self: center;
    align-items: center;
    align-content: center;
}

#tt {
    display: inline-block;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 96%;
    color: black;

    margin-top: 2vh;
}

#nextRound {
    background: rgba(0, 83, 119, 0.9);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    display: inline-block;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    color: white;
    width: 45%;

    margin-top: 1vh;
}
