html * {
    margin: 0;
    padding: 0;
}

button {
    height: 2.5rem;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 0.5rem;
    line-height: 1.375rem;
    letter-spacing: 0.05em;
}

.primaryButton {
    background: rgba(0, 83, 119, 0.9);
    font-size: 0.75em;
    color: #ffffff;
}

.secondaryButton {
    background: rgba(255, 255, 255, 0.9);
    border: 0.125rem solid rgba(0, 83, 119, 0.7);
    font-size: 0.75em;
    color: #005377;
}
