.inviteWindow {
    display: flex;
    position: absolute;
    width: 30%;
    height: 15%;
    padding-top: 2vmin;
    /* align-self: center; */
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: rgba(256, 256, 256);
}

.inviteWindow label {
    /* padding-top: 1%; */
    padding-inline-start: 3%;
    padding-inline-end: 3%;
    display: inline-block;
    font-family: Nunito;
    font-style: normal;
    font-weight: 350;
    font-size: 25px;
    color: #000000;
}

.buttons {
    display: inline-block;
    padding-bottom: 3%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: 5vmin;
}

.buttons li {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    list-style-type: none;
    flex-grow: 1;
}

.buttons button {
    padding: 0 1.5rem;
}

.acceptBt {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 10px;
}

.headingModal {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 33px;
    text-align: center;
    margin-top: 16px;

    color: #000000;
}
