.lobby-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 100vh;
    padding: 5% 15%;
}

.lobby-right-container {
    display: flex;
    width: 30%;
    flex-flow: column nowrap;
}
