.lobby-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  height: 80vh;
  padding: 0% 22%;
  padding-bottom: 4%;
}

.lobby-right-container {
    display: flex;
    width: 30%;
    flex-flow: column nowrap;
}
