.loginModal {
    width: 25em;
    height: 22em;
    left: 26.5rem;
    top: 25rem;

    background: #ffffff;
    box-shadow: 0rem 0.3rem 1.875rem rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.avt div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.avt ul img {
    height: 3rem;
    width: 3rem;
    margin: 0.75em;
    /* border-radius: 50%; */
    text-align: center;
}

.enterYn {
    margin-top: 0.9em;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    margin-bottom: 1em;

    color: #000000;
}

.small {
    font-size: 0.75em;
    margin-top: 5vh;
    margin-bottom: 0.5em;
}
.submit {
    height: 6vh;
    margin-top: 2vmin;
    padding: 0 1.5rem;
}

.input {
    width: 40vmin;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 8px;
    margin-top: 2vmin;
}
