.loginModalAdmin {
    position: absolute;
    text-align: center;
    align-content: center;
    align-items: center;
    background: whitesmoke;
    box-shadow: 0rem 0.3rem 1.875rem rgba(256, 256, 256, 0.4);
    border-radius: 16px;
    height: 40vh;
    width: 35vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adminLogin {
    height: 6vh;
    font-family: Nunito;
    font-size: 4vh;
    margin-bottom: 2vh;
}

.usernamePassword {
    height: 4vh;
    font-family: Nunito;
    font-size: 2vh;
}

.input {
    width: 40vh;
    height: 4vh;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 8px;
    margin-bottom: 1vh;
    margin-top: 0vh;
}
