.online-players-container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.nav {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blanchedalmond;
    padding: 2vh 30% 2vh 2%;
    list-style-type: none;
    text-align: center;
}

.nav p {
    width: 25%;
    color: black;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    padding-left: 4%;
}

.container {
    background-color: white;
    flex: 13;
}

.container ul {
    background-color: white;
    margin: 10px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.onlinePlayers {
    width: 14%;
    text-align: center;
}

.container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 20px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    padding-right: 3%;
    width: 25%;
}

.inviteButton {
    background-color: #49ba9c; /* Green */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: none;
    color: white;
    letter-spacing: 0.05em;
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.disabled {
    background: rgba(220, 220, 220, 0.8);
    opacity: 0.6;
    color: rgba(62, 61, 61, 0.6);
    box-shadow: 0px 0px 0px;
    cursor: not-allowed;
    pointer-events: none;
}
