.AdminPage {
    text-align: center;
}

.adminPageHeader {
    text-align: center;
    background-color: aquamarine;
}

.adminPageHeader li {
    text-align: center;
    color: black;
    display: inline-block;
    font-size: 3vh;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 5vh;
    margin-top: 5vh;
}

.adminPagePlayers {
    margin-top: 20px;
}

.boardPlayer {
    background: skyblue;
    padding: 1vh;
    margin: 1vh;
}

.navPlayer {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    background-color: gray;
    list-style-type: none;
    text-align: center;
    margin: 1vh;
    font-size: 2.5vh;
}

.navPlayer li:nth-child(odd) {
    background-color: lightgrey;
    color: black;
    display: inline-block;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
}

.cardPlayer {
    background-color: darkgray;
    margin: 1vh;
}

.cardPlayer ul {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 0.5vh;
}

.cardPlayer ul li {
    color: black;
    display: inline-block;
    font-size: 2vh;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
}

.cardPlayer ul li:nth-child(odd) {
    background: #eeeeee;
}

.boardGame {
    background: orange;
    padding: 1vh;
    margin: 1vh;
}

.navGame {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    background-color: gray;
    list-style-type: none;
    text-align: center;
    margin: 1vh;
    font-size: 2.5vh;
}

.navGame li:nth-child(odd) {
    color: black;
    background: lightgray;
    display: inline-block;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    padding-left: 10%;
    padding-right: 10%;
}

.cardGame {
    background-color: darkgray;
    margin: 1vh;
}

.cardGame ul {
    background-color: white;
    font-size: 1vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 0.5vh;
}

.cardGame ul li {
    color: black;
    display: inline-block;
    font-size: 2vh;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
}

.cardGame ul li:nth-child(odd) {
    background: #eeeeee;
}

.resetBtn {
    color: white;
    background: red;
    margin: 1vh;
    height: 3vh;
    width: 7vh;
}
